<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 16%">
            <div id="form1">
                <a href="/user/<%= currentUser.username %>/dashboard" id="back">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do panelu administratora
                </a>
                <h1 class="login">Edytuj zdjęcie główne ogłoszenia <%= announcement.title %></h1>
                <% if(error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
                <form action="/announcements/<%= announcement._id %>/edit/picture" method="post" enctype="multipart/form-data" id="form">
                   
                    <div class="mb-3">
                        <label for="formFile" class="username">Wybierz plik</label>
                        <input class="form-control" type="file" id="formFile" name="picture" required>
                    </div>
                    <input required type="submit" value="Edytuj zdjęcie główne" class="btn button btn-golden" id="send">
                   
                </form>
               
            </div>
           
        </div>
        
    </div>
</div>
<script>
    document.getElementById("form").addEventListener("submit", () => {
        document.getElementById("send").setAttribute("disabled", "disabled");
        document.getElementById("send").value = "Edytowanie...";
    })
</script>
</body>
</html>